<%= link_to slide_path(slide), :class => 'thumbnail' do %>
  <div style="height: 100px;">
    <%= slide.title %>
  </div>
<% end %>
<% if user_signed_in? %>
  <p>
    <%= link_to '編集', slide_pages_path(slide_id: slide.id), :class => 'btn btn-default' %>
    <%= link_to '削除', slide, method: :delete, data: { confirm: '削除してもよろしいですか？' }, :class => 'btn btn-danger' %>
  </p>
<% end %>
