<h3><%= link_to slide.title, slide_path(slide) %></h3>
<iframe width="100%" height="210px" src="<%= slide_path(slide) %>?full#1"></iframe>
<% if session[:user_id] %>
  <p>
    <%= link_to '編集', slide_pages_path(slide_id: slide.id), :class => 'btn btn-default' %>
    <%= link_to '削除', slide, method: :delete, data: { confirm: '削除してもよろしいですか？' }, :class => 'btn btn-danger' %>
  </p>
<% end %>
