<h1>スライドの一覧</h1>
<hr>
<% if user_signed_in? %>
  <div class="col-xs-3">
    <%= link_to '新しいスライド', new_slide_path, :class => 'btn btn-primary' %>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <% slides.each do |slide| %>
      <div class="col-xs-3">
        <%= render :partial => 'slides/page', :locals => { :slide => slide } %>
      </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-xs-12">
    <div class="row">
      <% slides.each do |slide| %>
      <div class="col-xs-3">
        <%= render :partial => 'slides/page', :locals => { :slide => slide } %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
