<section class="slide"><div>
  <h2>Shower Key Features</h2>
  <p>note</p>
</div></section>
<section class="slide"><div>
  <h2>title</h2>
  <p>note</p>
</div></section>

<%= javascript_include_tag 'shower' %>
