<div class="row">
  <h1><%= @slide.title %></h1>
</div>
<div class="row">
  <div class="col-xs-3">
    <%= link_to '新しいページ', new_slide_page_path(@slide), :class => 'btn btn-primary' %>
    <ul class="nav nav-pills nav-stacked">
      <% @pages.each_with_index do |page, index| %>
        <li><a herf="#"><%= index + 1 %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-9">
    <% @pages.each do |page| %>
      <pre><%= page.content %></pre>
    <% end %>
  </div>
</div>
